body
{
    /*background-image:url('Images/sale-tag.jpg');*/
    /*background-attachment:fixed;*/
    /*background-size:cover;*/
    background-color:burlywood;
}
table.center
{
    vertical-align:central;
    margin-left:auto;
    margin-right:auto;
}

button.place
{
    padding-right: 20px;
    margin-right: 40px;
}
